#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 20%;
    left: 0;
    right: 50%;
    background-color: rgb(20, 20, 20);
    box-sizing: border-box;
    padding-left: 3px;
}
#logspam{
    margin: 0;
    position: absolute;
    top: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222222;
    color: white;
    overflow: auto;
    box-sizing: border-box;
    padding: 2px 4px;
}
#sandbox {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 20%;
    left: 50%;
    right: 0;
    background-color: black;
}
#output{
    position: absolute;
    width: 100%;
    max-height: 100%;
    overflow: auto;
}

body, pre {
    overflow: hidden;
    background-color: #222222;
    color: #eeeeee;
    font-size: 12px;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}

a:link{
    color:#aaffff;
}

a:visited{
    color:#ffaaff;
}

html, body, #spinner-holder{
    height: 100%;
    width: 100%;
}
#spinner-holder{
    display: table;
}
.ace-line{
    white-space: nowrap;
}